@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.table-scroll tbody {
    position: absolute;
    overflow-y: scroll;
    height: 350px;
}

.table-scroll tr {
    width: calc(100% - $spacer);
    table-layout: fixed;
    display: inline-table;
}

.table-scroll thead > tr > th {
    border: none;
}
